USE [master]
GO
/****** Object:  Database [Veronika 21-4]    Script Date: 04.10.2022  15:23: . ******/
CREATE DATABASE [Veronika 21-4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Veronika 21-4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Veronika 21-4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Veronika 21-4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Veronika 21-4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Veronika 21-4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Veronika 21-4]
GO
/****** Object:  Table [dbo].[Gruppa]    Script Date: 04.10.2022  15:23: . ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gruppa](
	[Id] [int] NOT NULL,
	[IdStudent] [int] NOT NULL,
	[IdKurator] [int] NOT NULL,
	[idprepodovatel] [int] NOT NULL,
 CONSTRAINT [PK_Gruppa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 04.10.2022  15:23: . ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[id] [int] NOT NULL,
	[Material] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Lesson] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonOfPrepodovatel]    Script Date: 04.10.2022  15:23: . ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonOfPrepodovatel](
	[idPrepodovatel] [int] NOT NULL,
	[idLesson] [int] NOT NULL,
 CONSTRAINT [PK_LessonOfPrepodovatel] PRIMARY KEY CLUSTERED 
(
	[idPrepodovatel] ASC,
	[idLesson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prepodovatel]    Script Date: 04.10.2022  15:23: . ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prepodovatel](
	[id] [int] NOT NULL,
	[idgruppa] [int] NOT NULL,
 CONSTRAINT [PK_Prepodovatel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 04.10.2022  15:23: . ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] NOT NULL,
	[idGruppa] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 04.10.2022  15:23: . ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[id] [int] NOT NULL,
	[idLesson] [int] NOT NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Gruppa]  WITH CHECK ADD  CONSTRAINT [FK_Gruppa_Prepodovatel] FOREIGN KEY([idprepodovatel])
REFERENCES [dbo].[Prepodovatel] ([id])
GO
ALTER TABLE [dbo].[Gruppa] CHECK CONSTRAINT [FK_Gruppa_Prepodovatel]
GO
ALTER TABLE [dbo].[LessonOfPrepodovatel]  WITH CHECK ADD  CONSTRAINT [FK_LessonOfPrepodovatel_Lesson] FOREIGN KEY([idLesson])
REFERENCES [dbo].[Lesson] ([id])
GO
ALTER TABLE [dbo].[LessonOfPrepodovatel] CHECK CONSTRAINT [FK_LessonOfPrepodovatel_Lesson]
GO
ALTER TABLE [dbo].[LessonOfPrepodovatel]  WITH CHECK ADD  CONSTRAINT [FK_LessonOfPrepodovatel_Prepodovatel] FOREIGN KEY([idPrepodovatel])
REFERENCES [dbo].[Prepodovatel] ([id])
GO
ALTER TABLE [dbo].[LessonOfPrepodovatel] CHECK CONSTRAINT [FK_LessonOfPrepodovatel_Prepodovatel]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Gruppa] FOREIGN KEY([idGruppa])
REFERENCES [dbo].[Gruppa] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Gruppa]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_Lesson] FOREIGN KEY([idLesson])
REFERENCES [dbo].[Lesson] ([id])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Test_Lesson]
GO
USE [master]
GO
